.navbar{
    display: flex;
    justify-content: space-around;
    padding: 2px;
    box-shadow: 0 1px 3px -2px black;
    background-color: rgb(10, 64, 12);
    position: relative;
    align-items: center;
    padding-left: 6px;
}
.nav-menu{
    margin: 0 auto;
    display: flex;
    align-items: center;
    list-style: none;
    color:white;
    gap: 80px;
    font-size: 20px;
    font-weight: 500;
    padding: 0;

}
.nav-menu a{
    text-decoration: none;
    color: white;
}
.nav-menu li{
    display: flex;
    align-items: center ;
    justify-content: center;
    color: white;
}
.nav-cart {
  /* remove the square */
  background: none;
  border: none;
  cursor: pointer;
  position: relative;
  color: white;
  padding: 5px;
  margin-top: 15px;
  margin-left: 8px;
  right: 1cm;
}
.cart-count{
    
    background-color: rgb(207, 255, 226);
    color:rgb(10, 64, 12) ;
    border-radius: 30%;
    padding: 2px;
    width: 22px;
    align-items: center;
    justify-content: center;
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  background:#3c7749; color:#063103;
  list-style:none; padding:1.5rem 2rem;
  box-shadow:0 4px 12px rgba(0,0,0,.12);
  min-width:180px;
  width: 100vw;
   z-index: 9999;
}
.dropdown-link {
    display: block;
  margin:0; 
  list-style: none;
}

.dropdown li:hover {
     text-decoration: underline;
      cursor: pointer; 
}